
@import url('http://fonts.cdnfonts.com/css/bahnschrift');

:root{
--titulo: 'Bahnschrift', sans-serif;
}                                                      

body{
    background-color: gray;
}

.page{
    border: 3px solid;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(5, 5, 5);
    margin: 5%;
    padding: 10px 70px 40px 70px;
    margin: 7% 10%;
    background-color: rgba(255, 255, 255, 0.822) ;
    overflow: hidden;
    
    
}

table {
    width: 100%;
    border: 1px solid #999;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }
 td, th {
    padding: 0.3em;
 }
 th, td {
    border-bottom: 1px solid #999;
    width: 25%;
 }

img{
    min-width: 60px;
}

h2{
    font-family: var(--titulo);
    text-align: left;
    margin: 10px;
}

h3{
    font-family: var(--titulo);
    text-align: center;
    font-size: 200%;
    margin: 10px;
}

h4{
    font-family: var(--titulo);
    text-align: center;   
    font-size: 110%;
}

.formulario{
    background-color: #c5c2c2;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 30% ;
    padding-left: 5%;
    padding-bottom: 10px;
}


.txt{
    font-family: var(--titulo);
    text-align: center; 
    font-weight: bold;
}

.btn {
    background-color: #2393a5;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 90%;
    font-family: var(--titulo);
    min-width: 60px;
}

.footerBtn{
    display: flex;
    justify-content: center;
}

.btn:hover{
    background-color: transparent;
    color: #2393a5;
    border: 1px solid #2393a5;
}

.txtfield{
    border: 2px solid #2393a5;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
}

.txtf{
    border: 2px solid #464646;
    border-radius: 5px;
    padding: 1px;
    text-align: center;
    font-size: 15px;
    font-family: var(--titulo);
}

#lienzo{
    background-color: #fce8c5;
    border: 1px solid #fce8c5;
    box-shadow: 3px 3px 7px #81818162;
}